default_language_version:
  python: python3.9.7
repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
    exclude_types: [rst]
  - id: check-toml
  - id: check-yaml
  - id: debug-statements

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.2.0
  hooks:
  - id: pretty-format-ini
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix, --preserve-quotes, --indent, '2']

- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.10.1
  hooks:
  - id: isort
    args: ["--profile", "black"]

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
