default_language_version:
  python: python3.9.7
repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
    exclude_types: [rst]
  - id: check-toml
  - id: check-yaml
  - id: debug-statements

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: pretty-format-ini
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix, --preserve-quotes, --indent, '2']

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: ["--profile", "black"]

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
  language_version: python3.9

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.950
  hooks:
  - id: mypy
    exclude: |-
      (?x)^(
      docs/gt4py/conf.py |
      )$

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    additional_dependencies:
    - darglint
    - flake8-bugbear
    - flake8-builtins
    - flake8-debugger
    - flake8-docstrings
    - flake8-eradicate
    - flake8-mutable
    - pygments
    exclude: |-
      (?x)^(
      setup.py |
      )$
